################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskProgramming/.vs/TaskProgramming/v17/.suo
/TaskProgramming/.vs/TaskProgramming/v17/.suo
